[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-bdd = "*"
pytest = "*"

[packages]
flask = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysql = "*"
flask-restful = "*"
requests = "*"
flask-migrate = "*"
pip = "*"
pytest = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pytest-bdd = "*"
google-auth = "*"
google = "*"
oauth2client = "*"
pyopenssl = "*"
arrow = "*"
numpy = "*"

[requires]
python_version = "3.8"
